<%- include('./partials/head.ejs') %>

<h1>Muscles Index</h1>

<a href="/exercise/index/compound">
<h2>Compound</h2>
    
</a>

<a href="/exercise/index/:muscletype">
<h2>Chest</h2>

</a>

<a href="/exercise/index/:muscletype">
<h2>Shoulders</h2>
    
</a>

<a href="/exercise/index/:muscletype">
<h2>Triceps</h2>
    
</a>

<a href="/exercise/index/:muscletype">
<h2>Back</h2>
</a>

<a href="/exercise/index/:muscletype">
<h2>Biceps</h2>
        
</a>

<a href="/exercise/index/:muscletype">
<h2>Legs</h2>
        
</a>

<%- include('./partials/footer.ejs') %>


