<%- include('./partials/head.ejs') %>
<% if (currentUser) { %>
    <p>Welcome back, <%= currentUser.username %></p>
<% } %>
<div class="container">
    <div class="muscle1">
        <a href="/index/Compound">
            <h2>Compound</h2>
            <img src="https://img.freepik.com/free-photo/full-shot-woman-holding-dumbbell_23-2149267068.jpg?t=st=1657686002~exp=1657686602~hmac=df218ed8e28fdd274c516ee3bae0ee18ed99e561338565f43a43c046ccdc702e&w=996" alt="someone squatting a barbell">
        </a>
    </div>

    <div class="muscle2">
        <a href="/index/Chest">
            <h2>Chest</h2>
            <img src="https://img.freepik.com/free-photo/personal-trainer-gives-big-support_329181-14111.jpg?t=st=1657686159~exp=1657686759~hmac=c42886574f7c389856d8a1eca17e283f87fa2e4c83ef9b7cf97b2531e748eaa1&w=996" alt="someone bench pressing">
        </a>
    </div>

    <div class="muscle3">
        <a href="/index/Shoulders">
            <h2>Shoulders</h2>
            <img src="https://img.freepik.com/free-photo/pretty-young-hispanic-fitness-blogger-exercising-camera-giving-some-advice_662251-2454.jpg?t=st=1657686296~exp=1657686896~hmac=31597e9d1ba967fe96de500052f4461bca54bfaf71bf8e17b8183be280a2fe08&w=996" alt="someone doing lateral raises">
        </a>
    </div>

    <div class="muscle4">
        <a href="/index/Triceps">
            <h2>Triceps</h2>
            <img src="https://img.freepik.com/free-photo/portrait-bodybuilder-posing-studio_613910-7533.jpg?t=st=1657686399~exp=1657686999~hmac=30907d02f58bbfc51944fc0bb6172e46d5720f990e42f72e100ea09c763bc8d3&w=996" alt="ripped person flexing arms">
        </a>
    </div>

    <div class="muscle5">
        <a href="/index/Back">
            <h2>Back</h2>
            <img src="https://img.freepik.com/free-photo/photo-athletic-young-man-showing-his-back-biceps-muscles_171337-7541.jpg?t=st=1657686519~exp=1657687119~hmac=90a01aaeac831ebb8d7b0f0b00f0d7b6d04cbcc28b6e1376a38c25d59541298d&w=996" alt="person flexing back"">
        </a>
    </div>

    <div class="muscle6">
        <a href="/index/Biceps">
            <h2>Biceps</h2>       
            <img src="https://img.freepik.com/free-photo/young-fitness-man-studio_7502-5008.jpg?t=st=1657686597~exp=1657687197~hmac=d641bf5b3c05373994bfcd03f0724f8e051a6162e301cce8f1b9c0346a526cda&w=996" alt="person working out biceps">
        </a>
    </div>

    <div class="muscle7">
        <a href="/index/Legs">
            <h2>Legs</h2>
            <img src="https://img.freepik.com/free-photo/portrait-healthy-active-elderly-male-pensioner-running-shoes-exercising-outdoors-holding-hands-together-front-him-doing-side-lunges-having-focused-concentrated-facial-expression_343059-4751.jpg?t=st=1657686679~exp=1657687279~hmac=d23b3580669f3fa6f501be55698a8b58a36313c6a7269bbba9baed054edfd0b4&w=996" alt="person stretching legs">      
        </a>
    </div>

    <div class="muscle8">
        <a href="/index/Core">
            <h2>Core</h2>
            <img src="https://img.freepik.com/free-photo/cropped-photo-mans-sweaty-torso_171337-7544.jpg?t=st=1657686939~exp=1657687539~hmac=cb60bdb4f518968c7a9ee10e955e85fba6dd151614d38b6b13ae1a1711197112&w=996" alt="image of persons abs">           
        </a>
    </div>
</div>


<%- include('./partials/footer.ejs') %>


