<%- include('./partials/head.ejs') %>

<h1>Muscles Index</h1>

<a href="/index/Compound">
<h2>Compound</h2>
    
</a>

<a href="/index/Chest">
<h2>Chest</h2>

</a>

<a href="/index/Shoulders">
<h2>Shoulders</h2>
    
</a>

<a href="/index/Triceps">
<h2>Triceps</h2>
    
</a>

<a href="/index/Back">
<h2>Back</h2>
</a>

<a href="/index/biceps">
<h2>Biceps</h2>
        
</a>

<a href="/index/legs">
<h2>Legs</h2>
        
</a>

<%- include('./partials/footer.ejs') %>


