<%- include('./partials/head.ejs') %>

 <h1 class="add-title">Add New Exercise</h1>

<form class="row gy-2 gx-3 align-items-center new-form" action="/index/<%= targets %>" method="post">
    <div class="col-auto">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" />
    </div>
    <div class="col-auto">
        <label for="targets">Targets</label>
        <input type="text" name="targets" id="targets" value="<%= targets %>" readonly="readonly"/>
    </div>  
    <div class="col-auto">
        <label for="form">Form</label>
        <input type="text" name="form" id="form" />
    </div>
    <div class="col-auto">
        <!-- Need to do Cloudinary here -->
        <label for="images">Image Urls</label>
        <input type="url" name="images" id="images" />
    </div>
    <div class="col-auto">
        <input type="submit" value="Create Exercise" />
    </div>
</form>





 <%- include('./partials/footer.ejs') %>